* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 .contact-mainbox {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: #e8e7cd;
} 

.contact-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333333;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333333;
    margin-bottom: 10px;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    .contact-container {
        padding: 15px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px;
    }
}
